{% extends 'structure/base.html' %}

{% block content %}
    {% if object_list %}
        <p>Lista degli oggetti:</p>
        <ul>
            {% for obj in object_list %}
                <li>{{ obj }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nessun oggetto trovato!</p>
    {% endif %}
{% endblock %}

